{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="recipe-details">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ recipe.title }}</h2>
                {% if recipe.vegetarian %}
                <img class="diet-icon" src="/static/checked.jpeg"><a class="diet-text">Vegetarian</a>
                {% endif %}
                {% if recipe.vegan %}
                <img class="diet-icon" src="/static/checked.jpeg"><a class="diet-text">Vegan</a>
                {% endif %}
                {% if recipe.glutenFree %}
                <img class="diet-icon" src="/static/checked.jpeg"><a class="diet-text">Gluten Free</a>
                {% endif %}
                {% if recipe.dairyFree %}
                <img class="diet-icon" src="/static/checked.jpeg"><a class="diet-text">Diet Free</a>
                {% endif %}
                {% if g.user %}
                <form action="/recipe/{{ recipe.id }}/favorite" method="post">
                    {% if favorite_form.csrf_token is defined %}
                    {{ favorite_form.csrf_token() }}
                    {% endif %}
                    {{ favorite_form.favorited() }}
                    {% if favorited %}
                    <input class="button" id="red-heart" type="image"
                        src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png">Remove from
                    favorite
                    {% else %}
                    <input class="button" id="white-heart" type="image"
                        src="https://icons-for-free.com/iconfiles/png/512/heart-131965017458786724.png">Add to favorite
                    {% endif %}
                </form>
                {% endif %}
                <div class="card-img-top">
                    <img src="{{ recipe.image }}">
                    <li>Ready in {{ recipe.readyInMinutes }} min</li>
                    <li>
                        Ingredients:
                        <ul>
                            {% for ingredient in recipe.ingr %}
                            <li>{{ ingredient.name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>Instructions:
                        {{ recipe.instructions | safe }}</li>
                </div>
            </div>
        </div>





    </div>
</div>

{% endblock %}
