{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="recipe-search">
        <div class="card">
            <div class="card-body">
                <h2>Recipes which contains ingredient "{{ query }}"</h2>
                <div class="row justify-content-center">
                    {% for recipe in search_results %}
                    <div class="col-6">
                        <div class="card">
                            <img class="card-img-top" src="{{ recipe['image'] }}">
                            <div class="card-body">
                                <p>Recipe name: <a href="/recipe/{{ recipe['id'] }}">{{ recipe['title'] }}</a></p>
                                <!-- <li>Summary: {{ recipe["summary"] | safe }}</li> -->
                                <p>Ready in {{ recipe.readyInMinutes }} min</p>
                                {% if recipe.vegetarian %}
                                <img class="diet-icon" src="static/checked.jpeg"><a class="diet-text">Vegetarian</a>
                                {% endif %}
                                {% if recipe.vegan %}
                                <img class="diet-icon" src="static/checked.jpeg"><a class="diet-text">Vegan</a>
                                {% endif %}
                                {% if recipe.glutenFree %}
                                <img class="diet-icon" src="static/checked.jpeg"><a class="diet-text">Gluten Free</a>
                                {% endif %}
                                {% if recipe.dairyFree %}
                                <img class="diet-icon" src="static/checked.jpeg"><a class="diet-text">Diet Free</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
