.domain-form {
    margin-top: 50px
}

.navbar-brand, .nav-item {
    color: white
}

.wrap {
    overflow: hidden;
    position: relative;
}

.img-bg {
    opacity: 0.3;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    position: fixed;
}
nav {
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%
}

#white-heart, #red-heart {
    width: 50px;
    height: auto;
}

.diet-icon {
    width: 20px;
}

.diet-text {
    font-size: x-small;
}

.recipe-details, .recipe-favorite, .recipe-search {
    padding: 2rem;
}

.recipe-saved {
    padding: 3rem;
}

#btn-search {
    background-color: #e7e7e7;
    color: black;;
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 8px;
}
